@model QuizDtoForUser

<div class="container mt-5">
    <div class="card shadow">
        <div class="card-header d-flex justify-content-between align-items-center">
            <h5 class="mb-0">Quiz App</h5>


        </div>

        <div class="card-body">


            <h4 class="card-title my-3" id="questionText">@Model.Questions.First().QuestionText</h4>

            <div class="list-group mt-3" id="optionsList">
                @foreach (var option in Model.Questions.First().Options)
                {
                    <label class="list-group-item d-flex align-items-center">
                        <input type="radio" name="questionOptions" value="@option.OptionText" class="me-2">
                        <span>@option.OptionText</span>
                    </label>
                }
            </div>
        </div>

        <div class="card-footer d-flex justify-content-between">
            <span id="questionOrder">@Model.Questions.First().Order / @Model.QuestionCount</span>
            <button class="btn btn-primary" id="nextButton">Next</button>
        </div>
    </div>
</div>

<script>



    document.getElementById("nextButton").addEventListener("click", function () {
      
        nextQuestion();
    });

    function nextQuestion() {
        var quizId = "@Model.QuizId";

        $.ajax({
            url: '/Home/NextQuestion',
            method: 'POST',
            data: { quizId: quizId, currentQuestionOrder: currentQuestionOrder },
            success: function (response) {

                if (response.success) {
                    $('#questionText').text(response.questionText);
                    $('#questionOrder').text(response.currentOrder + ' / ' + response.totalQuestions);

                    var optionsList = $('#optionsList');
                    optionsList.empty();
                    response.options.forEach(function (option) {
                        optionsList.append('<label class="list-group-item d-flex align-items-center">' +
                            '<input type="radio" name="questionOptions" value="' + option + '" class="me-2">' +
                            '<span>' + option + '</span>' +
                            '</label>');
                    });
                    currentQuestionOrder = response.currentOrder;

                } else {
                    console.log("Quiz tamamlandı. JSON mesajı: " + response.message);

                    alert(response.message);
                    window.location.href = "/Home/QuizCompleted";  

                }
            },
            error: function (xhr, status, error) {
                console.log("AJAX isteği başarısız oldu:", error);
                alert("Bir hata meydana geldi: " + error);
            }
        });
    }
    var currentQuestionOrder = @Model.Questions.First().Order;




</script>
